<!-- .row title -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">mostrar dados</h1>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- .row body -->
<div class="row" ng-app="receituarioApp" ng-controller="receituarioCtrl">
    
</div>